# Corpus original
CORPUS CODEFEST AD ASTRA 2026/

# Salidas generadas
salida/

# Entornos Python
.venv/
venv/
__pycache__/
*.pyc

# Archivos temporales
*.tmp
*.bak

# Jupyter
.ipynb_checkpoints/

# Sistema
.DS_Store
Thumbs.db

OneDrive_2026-08-04.zip
salida_v2/
